@import "../../style/color";

.page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-black;
}

.logo {
  height: 10vmin;
  pointer-events: none;
}

.logo_container {
  display: flex;
  justify-content: center;
}

.form {
  width: 500px;
  background-color: $tertiary-black;
  padding: 50px;
  border-radius: 5px;
}

.form_group {
  margin-bottom: 17px;
}

.input {
  background-color: $secondary-black;
  color: $text-while-non-active;
  border: none;
  font-size: 13px;
  padding: 17px 20px;
  width: 100%;
  border-radius: 5px;
  outline: none;
}

.button {
  width: 100%;
  background-color: $primary-blue;
  font-size: 13px;
  padding: 17px 20px;
  border-radius: 5px;
  font-weight: bold;
  color: $text-while-active;
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;
  height: 49px;
}

.pending {
  height: 13px;
}

.button_active {
  background-color: $secondary-black;
  color: $text-while-non-active;
  border: none;
  pointer-events: none;
}

.description {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
}

.forgot_password_container {
  text-align: end;
  font-size: 13px;
}

.label_login {
  color: $text-while-non-active;
  font-size: 13px;
}

.name_container {
  display: flex;
  justify-content: space-between;
}

.input_name {
  flex-basis: 49%;
}

.error_box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  background-color: $primary-red;
  border-radius: 5px;
  pointer-events: none;
}

.pending {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 27px;
}
