$primary-black: rgb(18, 18, 18);
$secondary-black: #2a2a2a;
$tertiary-black: #202020;
$text-while-active: #ffffff;
$text-while-non-active: #a0a0a0;
$primary-blue: #007bff;
$primary-green: #2ecc71;
$primary-red: #dc3545;
